@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	--main-color: #54b3d6;
	--secondary-color: #3d8bcd;
	--error-color: red;
}

body {
	background: url('../img/bg__left.svg') left 10% no-repeat,
		url('../img/bg__top-right.svg') right top no-repeat,
		url('../img/bg__btm-right.svg') right bottom no-repeat;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	min-width: 100%;
	background-color: #eff0f6 !important;
	padding: 1rem;
}

div.main--container {
	padding-inline: 0;
}

#g1Navbar {
	background-color: #dae8fc;
}

/* BRAND ANIMATION */
#g1Navbar a.navbar-brand {
	background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
	background-size: 200% 100%;
	background-position: -100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.4s ease-in-out;
}

#g1Navbar a.navbar-brand::before {
	content: '';
	background: #54b3d6;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
}

#g1Navbar a.navbar-brand:hover {
	background-position: 0;
}

#navbarSupportedContent {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#g1Navbar .nav-item {
	margin-right: 1rem;
}

#g1Navbar .nav-item .active {
	background-color: #3d8bcd;
	color: #fff;
	font-weight: bold;
	padding-inline: 1rem;
}

#g1Navbar .nav-item:hover {
	transform: scale(1.2);
	transition: transform 0.4s ease-in-out;
}

#g1Navbar .nav-item .active:hover {
	background-color: #3d8bcd;
	opacity: 0.9;
}

#shared-with {
	color: #a2aab7;
}

.divider:after,
.divider:before {
	content: '';
	flex: 1;
	height: 1px;
	background: #eee;
}

#carousel_tasks {
	display: block;
	margin-inline: auto;
}

.card-body {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: fit-content;
}

#carousel_tasks .carousel-control-next,
#carousel_tasks .carousel-control-prev {
	color: var(--secondary-color);
}

.form-textarea textarea.form-control {
	min-height: 150px;
}

.main--container div.card {
	height: 500px;
}

.main--container img[alt='team work'],
#carousel_tasks img {
	width: 800px;
	max-height: 600px;
}

.card--content {
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.card--content:hover {
	transform: translateY(-10px);
	transition: transform 0.3s ease-in-out;
}

/* CREATE PAGE */
.form--wrapper.panel {
	background: #dae8fc;
	border-radius: 25px;
	box-sizing: border-box;
	box-shadow: 0px 0px 70px #c7cbe3;
	height: 875px;
	padding-top: 50px;
	padding-bottom: 0;
	max-width: 650px;
	margin: 0 auto;
}

form {
	font-size: 20px;
	padding-inline: 1.5em;
	padding-bottom: 50px;
}

.form-group label {
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.form-group {
	margin: 1em;
}

.dropdown,
.col-auto {
	margin: 2em;
}

.btn-mini {
	height: auto;
	line-height: 14px;
}

input {
	border-color: blue;
	border-radius: 5px;
	width: 310px;
	font-weight: lighter;
}

.button--group {
	margin-top: 100px;
	align-items: center;
	justify-content: space-evenly;
}

.button--group button {
	max-width: 240px;
}

small[id*='-error'] {
	color: var(--error-color) !important;
}

@media screen and (min-width: 375px) {
	.button--group button {
		padding-inline: 0.5rem;
		width: 230px;
	}

	.form--wrapper.panel {
		height: fit-content;
	}
}

@media screen and (max-width: 768px) {
	.main--container img[alt='team work'],
	#carousel_tasks img {
		height: auto;
	}
}
